@import './variables';

// border styles
.border-s-solid {
  border-style: solid;
}

// border sides
.border-up {
  border-style: solid none none none
}

.border-right {
  border-style: none solid none none
}

.border-down {
  border-style: none none solid none
}

.border-left {
  border-style: none none none solid
}

// border width
.border-w1 {
  border-width: 0.1rem;
}
 
.border-w2 {
  border-width: 0.2rem;
}
 
.border-w3 {
  border-width: 0.3rem;
}
 
.border-w4 {
  border-width: 0.4rem;
}
 
.border-w5 {
  border-width: 0.5rem;
}
 
// border-radius
.border-rad1 {
  border-radius: 0.1rem;
}

// border radius

.border-radius05 {
  border-radius: 0.5rem;
}

.border-radius1 {
  border-radius: 1rem;
}

// classes usefull everywhere
.transition-all {
  transition: all $duration-time3 ease-in-out;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.open {
  visibility: visible;
  opacity: 1;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.w75 {
  width: 75%;
}

.w66 {
  width: 75%;
}

// padding
.padding05 {
  padding: 0.5rem;
}

.padding1 {
  padding: 1rem;
}

.padding15 {
  padding: 1.5rem;
}

.padding2 {
  padding: 2rem;
}

// padding top
.padding-top05 {
  padding-top: 0.5rem;
}

.padding-top1 {
  padding-top: 1rem;
}

.padding-top15 {
  padding-top: 1.5rem;
}

.padding-top2 {
  padding-top: 2rem;
}

// flexbox 

.flex-centered {
  display: flex;
  justify-content: center;
}

// box-shadow
// blue
.box-shadow-blue-LT {
  box-shadow: 0 0.3rem 0.8rem 0 $color-blue-lightest;
}

.box-shadow-blue-DT {
  box-shadow: 0 0.3rem 0.8rem 0 $color-blue-darkest;
}

// purple
.box-shadow-purple-LT {
  box-shadow: 0 0.3rem 0.8rem 0 $color-purple-lightest;
}

.box-shadow-purple-DT {
  box-shadow: 0 0.3rem 0.8rem 0 $color-purple-darkest;
}

// orange
.box-shadow-orange-LT {
  box-shadow: 0 0.3rem 0.8rem 0 $color-orange-lightest;
}

.box-shadow-orange-DT {
  box-shadow: 0 0.3rem 0.8rem 0 $color-orange-darkest;
}

// red
.box-shadow-red-LT {
  box-shadow: 0 0.3rem 0.8rem 0 $color-red-lightest;
}

.box-shadow-red-DT {
  box-shadow: 0 0.3rem 0.8rem 0 $color-red-darkest;
}

// box-shadow--hover
// blue
.box-shadow-blue-LT--hover {
  box-shadow: 0 0.3rem 0.8rem 0 $color-blue-light;
  transition: all $duration-time3 ease-in-out;
  
  &:hover {
    box-shadow: 0 0.35rem 0.85rem 0 $color-blue-lightest;
  }
}

.box-shadow-blue-DT--hover {
  box-shadow: 0 0.3rem 0.8rem 0 $color-blue-medium;
  transition: all $duration-time3 ease-in-out;
  
  &:hover {
    box-shadow: 0 0.35rem 0.85rem 0 $color-blue-darkest;
  }
}

// purple
.box-shadow-purple-LT--hover {
  box-shadow: 0 0.3rem 0.8rem 0 $color-purple-light;
  transition: all $duration-time3 ease-in-out;
  
  &:hover {
    box-shadow: 0 0.35rem 0.85rem 0 $color-purple-lightest;
  }
}

.box-shadow-purple-DT--hover {
  box-shadow: 0 0.3rem 0.8rem 0 $color-purple-medium;
  transition: all $duration-time3 ease-in-out;
  
  &:hover {
    box-shadow: 0 0.35rem 0.85rem 0 $color-purple-darkest;
  }
}

// orange
.box-shadow-orange-LT--hover {
  box-shadow: 0 0.3rem 0.8rem 0 $color-orange-light;
  transition: all $duration-time3 ease-in-out;
  
  &:hover {
    box-shadow: 0 0.35rem 0.85rem 0 $color-orange-lightest;
  }
}

.box-shadow-orange-DT--hover {
  box-shadow: 0 0.3rem 0.8rem 0 $color-orange-dark;
  transition: all $duration-time3 ease-in-out;
  
  &:hover {
    box-shadow: 0 0.35rem 0.85rem 0 $color-orange-darkest;
  }
}

// red
.box-shadow-red-LT--hover {
  box-shadow: 0 0.3rem 0.8rem 0 $color-red-light;
  transition: all $duration-time3 ease-in-out;
  
  &:hover {
    box-shadow: 0 0.35rem 0.85rem 0 $color-red-lightest;
  }
}

.box-shadow-red-DT--hover {
  box-shadow: 0 0.3rem 0.8rem 0 $color-red-dark;
  transition: all $duration-time3 ease-in-out;
  
  &:hover {
    box-shadow: 0 0.35rem 0.85rem 0 $color-red-darkest;
  }
}