@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.oxanium-extraLight-200 {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.oxanium-light-300 {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.oxanium-regular-400 {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.oxanium-medium-500 {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.oxanium-semiBold-600 {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.oxanium-bold-700 {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.oxanium-extraBold-800 {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}