// --- COLORS ---

// -- LIGHT THEME --
$color-LT-white: #FFFFFF;
$color-LT-main: #F6F6F6;

$color-LT-light: #D4D4D4;
$color-LT-medium: #B3B3B3;
$color-LT-dark: #919191;

// -- DARK THEME --
$color-DT-black: #000000;
$color-DT-main: #383838;

$color-DT-light: #808080;
$color-LT-medium: #616161;
$color-DT-dark: #383838;

// -- COLORS IN THEME --
// - Blue -
$color-blue-main : 	#3d85c6;

$color-blue-lightest : #9cd1ff;
$color-blue-light : #5da6e5;
$color-blue-medium : #316B9E;
$color-blue-dark : #26537A;
$color-blue-darkest : #1B3C58;

// - Purple -
$color-purple-main: #6A329F;

$color-purple-lightest : #d1a6f9;
$color-purple-light : #a169d6;
$color-purple-medium : #5c2b8a;
$color-purple-dark : #421e63;
$color-purple-darkest : #32174b;

// - Orange -
$color-orange-main: #F29100;

$color-orange-lightest : #ffd28d;
$color-orange-light : #ffbe5b;
$color-orange-medium : #CC7A00;
$color-orange-dark : #A86500;
$color-orange-darkest : #865100;

// - Red -
$color-red-main: #CC0000;

$color-red-lightest : #FFC8C8;
$color-red-light : #FF7D7D;
$color-red-medium : #a40000;
$color-red-dark : #800000;
$color-red-darkest : #5E0000;