@import '../../assets/styles/utils/colors';
@import '../../assets/styles/utils/adjustments';
@import '../../assets/fonts/icons/style.css';

.color-menu {
  position: absolute;
  padding: 1.5rem;
  top: 5rem;
  transition: all $duration-time3 ease-in-out;
}

.cb-group {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  
  &__two-buttons {
    column-gap: 0.5rem;
    display: flex;
    flex-direction: row;
  }
}
