@import '../../assets/styles/utils/variables';
@import '../../assets/styles/utils/colors';

.hp-content {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__tSS {
    flex-grow: 1 ;
  }
}