@import '../../assets/styles/utils/colors';
@import '../../assets/styles/utils/adjustments';
@import '../../assets/styles/utils/variables';
@import '../../assets/fonts/icons/style.css';

.nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
  
  &__list {
    display: flex;
    gap: 1rem;

    &-item {
    }
  }

  &__menu {
    flex-direction: column;
  }
}

.menu {
  &__X-button {
    
  }

  &__list-item {

  }
}

.icon-write::before {
  content: $icon-gear;
  font-size: 2rem;
  }
