@import '../../assets/styles/utils/variables';
@import '../../assets/styles/utils/colors';
@import '../../assets/styles/utils/adjustments';
@import '../../assets/fonts/icons/style.css';

.icon-gear::before {
  content: $icon-gear;
  font-size: 2rem;
}

.button-options-box {
  display: flex;
  height: 100%;
  align-items: center;
}

.button-options {
  padding: 0.5rem;
}

